.table {
    text-align: center;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 40px;
}

.table th {
    font-weight: bold;
    font-size: 24px;
}

.tableCol {
    padding: 16px;
    border: none;
    border: 1px solid var(--white);
}

.highlight {
    background-color: var(--white);
    color: var(--blue);
    font-weight: bold;
    font-size: 20px;
}
