.form {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 16px;
}

.formWeight, .formHeight {
    padding: 8px;
    font-weight: bold;
    border: 2px solid var(--white); 
}

.formWeight:focus, .formHeight:focus {
    outline-color: var(--white); 
}

.formButton {
    padding: 8px;
    font-weight: bold;
    border: 2px solid var(--white); 
    cursor: pointer;
}

.formButton:hover{
    background-color: var(--white);
    color: var(--blue);
}

.formContainer{
    display: block;
    width: 33%;
}

.formContainer label, .formContainer input{
    width: 100%;
    font-weight: bold;
}